{% extends "base.html" %}

{% block body %}
  <form method=post action={{ url_for('drafts.create') }} enctype=multipart/form-data>
  <div class=text>
    <label for=title>Title</label>
    <input id=title name=title required>
  </div>
  <div class=select>
    <label for=language>Language
      <select id=language name=language required>
        {% for language in get_languages() %}
        <option value={{language[0]}}>{{ language[1] }}</option>
        {% endfor %}
      </select>
    </label>
  </div>
  <div class=select>
    <label for=category>Category
      <select id=category name=category required>
        {% for category in get_categories() %}
        <option value={{ category }}>{{ category }}</option>
        {% endfor %}
      </select>
    </label>
  </div>
  {% if current_user.has_role('editor') %}
  <div class=select>
    <label for=status>Status
      <select id=status name=status required>
        <option value=draft selected>Draft</option>
        <option value=published>Published</option>
      </select>
    </label>
  </div>
  <div class=select>
    <label for=author>Author
      <select id=author name=author required>
        {% for author in authors %}
        <option value={{author.id}}>{{ author }}</option>
        {% endfor %}
      </select>
    </label>
  </div>
  {% endif %}
  <div class=textarea>
    <label for=summary>Summary</label>
    <textarea id=summary name=summary required></textarea>
  </div>
  <div class=textarea>
    <label for=body>Body</label>
    <textarea id=body name=body required></textarea>
    <pre><b>**bold**</b> <i>_italic_</i> #H1 ##H2 ###H3 link: [link text](https://www.google.com)<br>Image: ![alt text](https://www/path/to/img.jpg "Logo Title")</pre>
  </div>
  <div class=file>
    <label for=image>Image</label>
    <input type=file id=image name=image>
  </div>
  <input type=submit value="Save">
</form>
{% endblock %}
