{% extends "base.html" %}

{% block body %}
<form method=post action={{ url_for('drafts.edit', draft_id=article.id) }} enctype=multipart/form-data>
  <input type=hidden name=id value="{{ article.id }}">
  <div class=text>
    <label for=title>Title</label>
    <input id=title name=title value="{{ article.title }}" required>
  </div>
  <div class=select>
    <label for=language>Language
      <select id=language name=language required>
        {% for language in get_languages() %}
        <option value={{language[0]}}{% if article.language == language[0] %} selected{% endif %}>{{ language[1] }}</option>
        {% endfor %}
      </select>
    </label>
  </div>
  <div class=select>
    <label for=category>Category
      <select id=category name=category required>
        {% for category in get_categories() %}
        <option value={{ category }}{% if article.category == category %} selected{% endif %}>{{ category }}</option>
        {% endfor %}
      </select>
    </label>
  </div>
  {% if current_user.has_role('editor') %}
  <div class=select>
    <label for=status>Status
      <select id=status name=status required>
        <option value=draft selected>Draft</option>
        <option value=published>Published</option>
      </select>
    </label>
  </div>
  <div class=select>
    <label for=author>Author
      <select id=author name=author required>
        {% for author in authors %}
        <option value={{author.id}} {% if article.author == author %}selected{% endif %}>{{ author }}</option>
        {% endfor %}
      </select>
    </label>
  </div>
  {% endif %}
  <div class=textarea>
    <label for=summary>Summary</label>
    <textarea id=summary name=summary required>{{ article.summary }}</textarea>
  </div>
  <div class=textarea>
    <label for=body>Body</label>
    <textarea id=body name=body required>{{ article.body }}</textarea>
    <pre><b>**bold**</b> <i>_italic_</i> #H1 ##H2 ###H3 link: [link text](https://www.google.com)<br>Image: ![alt text](https://www/path/to/img.jpg "Logo Title")</pre>
  </div>
  <div class=file>
    <label for=image>Image</label>
    {% if article.has_image %}
    <img src={{ article_image_url(article) }} alt>
    <div class=checkbox>
      <label for=delete-image>Delete image</label>
      <input type=checkbox name=delete-image id=delete-image value=1>
    </div>
    {% endif %}
    <input type=file id=image name=image>
  </div>
  <input type=submit value="Save">
</form>

{% if current_user.has_role('editor') %}
<form method=post action={{ url_for('articles.delete', article_id=article.id) }}>
  <input type=submit value="Delete this draft">
</form>
{% endif %}
{% endblock %}
