__pycache__/
*.pyc
/cafebabel.db
.cache
/logs/
/config.local.py
*.egg-info/
/cafebabel/uploads/
/data/
/cafebabel/static/.webassets-cache
/cafebabel/static/build
.DS_Store
.idea/
cafebabel/static/uploads/
flask_resize/
venv/

