{% macro series(tag_slug, limit, description, button_text) %}
  <section class="series tag-{{ tag_slug }}">
    {% set tag_series, articles_series = articles_for_tag(tag_slug, limit=limit) %}
    {% if articles_series or not limit %}
      <a href="{{ tag_series.detail_url }}" class=banner style="background-image:url({{ tag_series.image_url or '' }});">
        <div class=series-infos>
          <h2>{{ tag_series.name }}</h2>
          {% if description %}
            <p>{{ description }}</p>
          {% endif %}
        </div>
      </a>
    {% endif %}
    {% if articles_series %}
      <div class=tag-articles>
        {% for article_series in articles_series %}
          {{ card(article_series, image_dimensions=config.RESIZE_SIZE_ARTICLE_LIST) }}
        {% endfor %}
      </div>
    {% endif %}
    {% if button_text %}
      <a class=button>{{ button_text }}</a>
    {% endif %}
  </section>
{% endmacro %}

{% macro external_series(external_link, banner_url, video_url, logo_source, logo_alt, description, button_text) %}
<section class="series external_series">
  <a href="{{ external_link }}" target=_blank class=banner style="background-image:url({{ banner_url }});">
    <div class=series-infos>
      <h2>{{ serie_name }}</h2>
      {% if logo_source %}
      <img src="{{ logo_source }}" alt="{{ logo_alt }}" />
      {% endif %}
      {% if description %}
      <p>{{ description }}</p>
      {% endif %}
    </div>
    {% if video_url %}
    <video class="landing-video" loop muted data-autoplay data-keepplaying playsinline><source src={{ video_url }} type="video/mp4"></video>
    {% endif %}
  </a>
  {% if button_text %}
  <a href="{{ external_link }}" class=button>{{ button_text }}</a>
  {% endif %}
</section>
{% endmacro %}

{% macro latest(tag_slug, limit) %}
  {% set tag_latest, articles_latest = articles_for_tag(tag_slug, limit=limit) %}
  {% if articles_latest %}
    <section class=latest>
      <div class=latest-column>
        {% for article_latest in articles_latest %}
          {% if loop.index == 3 %}
            </div><div class=latest-column>
          {% endif %}
          {{ card(article_latest, image_dimensions=config.RESIZE_SIZE_ARTICLE_SECTION_LIST) }}
        {% endfor %}
        </div>
    </section>
  {% endif %}
{% endmacro %}

{% macro latest_section(tag_slug, limit) %}
  {% set tag_latest, articles_latest = articles_for_tag(tag_slug, limit=limit) %}
  {% if articles_latest %}
    <section class=latest>
      <div class=latest-column>
        {% for article_latest in articles_latest %}
          {% if loop.index == 2 %}
            </div><div class=latest-column>
          {% endif %}
          {{ card(article_latest, image_dimensions=config.RESIZE_SIZE_ARTICLE_SECTION_LIST) }}
        {% endfor %}
        </div>
    </section>
  {% endif %}
{% endmacro %}

{% macro participation(class, title, description, button_link, button_text, gif, gif_alt) %}
  <section class=participation-{{ class }}>
    {% if gif %}
      <img src="{{ gif }}" alt="{{ gif_alt }}">
    {% endif %}
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
    <a class=button {% if button_link %}href={{ button_link }}{% endif %}>{{ button_text }}</a>
  </section>
{% endmacro %}

{% macro group_series(tag_slug, image_dimensions=config.RESIZE_SIZE_ARTICLE_LIST) %}
  {% set tag_series, articles_series = articles_for_tag(tag_slug) %}
  <a href={{ tag_series.detail_url }} title="{{ tag_series.name }}">
    <div class="group-series-thumbnail"{% if tag_series.image_url %} style="background-image:url({{ tag_series.image_url|resize(image_dimensions) or '' }});">{% else %}style="background-image:url(https://cafebabel.com/static/img/article-thumbnail-default.jpg);">{% endif %}
    </div>
    <h3>{{ tag_series.name }}</h3>
  </a>
{% endmacro %}
