{% macro series(tag_slug, limit, description) %}
  <section class="series tag-{{ tag_slug }}">
    {% set tag_series, articles_series = articles_for_tag(tag_slug, limit=limit) %}
    {% if articles_series or not limit %}
      <a href="{{ tag_series.detail_url }}" class=banner style="background-image:url({{ tag_series.image_url or '' }});">
        <div class=series-infos>
          <h2>{{ tag_series.name }}</h2>
          {% if description %}
            <p>{{ description }}</p>
          {% endif %}
        </div>
      </a>
    {% endif %}
    {% if articles_series %}
      <div class=tag-articles>
        {% for article_series in articles_series %}
          {{ card(article_series, image_dimensions=config.RESIZE_SIZE_ARTICLE_LIST) }}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endmacro %}

{% macro latest(tag_slug, limit) %}
  {% set tag_latest, articles_latest = articles_for_tag(tag_slug, limit=limit) %}
  {% if articles_latest %}
    <section class=latest>
      <div class=latest-column>
        {% for article_latest in articles_latest %}
          {% if loop.index == 4 %}
            </div><div class=latest-column>
          {% endif %}
          {{ card(article_latest) }}
        {% endfor %}
        </div>
    </section>
  {% endif %}
{% endmacro %}
