{% macro social_networks(with_linkedin=False) %}
  <ul>
    <li><a href={{ social_network_url_for('facebook') }} class=icon-facebook title="Cafébabel on Facebook"></a></li>
    <li><a href={{ social_network_url_for('twitter') }} class=icon-twitter title="Cafébabel on Twitter"></a></li>
    <li><a href={{ social_network_url_for('instagram') }} class=icon-instagram title="Cafébabel on Instagram"></a></li>
    <li><a href=#static-pages-links class=icon-newsletter title="Cafébabel on Facebook"></a></li>
    <li><a href={{ social_network_url_for('youtube') }} class=icon-youtube title="Cafébabel on Facebook"></a></li>
    {% if with_linkedin %}
        <li><a href={{ social_network_url_for('linkedin') }} class=icon-linkedin title="Cafébabel on LinkedIn"></a></li>
    {% endif %}
  </ul>
{% endmacro %}
