<!doctype html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">
<title>{% block meta_title %}pan-European news, features and opinions{% endblock %} – Cafebabel</title>

{% block metas %}{% endblock %}

{% block metas_social %}{% endblock %}

<link rel=stylesheet href={{ url_for('static', filename='css/styles.css') }}>

<body class="{% block body_class %}{% endblock %}">

<button class="menu main-menu"></button>

{% if current_user.is_authenticated %}
<nav>
  <ul>
    <li><a href={{ url_for('users.my_profile') }}>Profile</a></li>
    <li><a href={{ url_for('security.logout') }}>Log out</a></li>
    <li><a href={{ url_for('security.change_password') }}>Change password</a></li>
{% else %}
<nav>
  {% if security.registerable or security.recoverable or security.confirmable %}
  <ul>
    <li><a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Login') }}</a></li>
    {% if security.registerable %}
    <li><a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Register') }}</a><br/></li>
    {% endif %}
    {% if security.recoverable %}
    <li><a href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password') }}</a><br/></li>
    {% endif %}
    {% if security.confirmable %}
    <li><a href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a></li>
    {% endif %}
  {% endif %}
{% endif %}
    <li><a href={{ url_for('proposals.create') }}>Suggest an article</a></li>
    {% if current_user.has_role('editor') %}
    <li><a href={{ url_for('drafts.create') }}>Write an article</a></li>
    <li><a href={{ url_for('drafts.list') }}>View existing drafts</a></li>
    {% endif %}
    <li><a href={{ url_for('articles.to_translate') }}>Translate an article</a></li>
    <li>
      <ul>
        <li><a href=https://www.facebook.com/cafebabelenglish class=icon-facebook></a></li>
        <li><a href=https://twitter.com/cafebabel_ENG class=icon-twitter></a></li>
        <li><a href=https://www.instagram.com/inside.cafebabel class=icon-instagram></a></li>
        <li><a href=https://www.youtube.com/channel/UCKanXxqYDt3vmz89Ig6RqBg class=icon-youtube></a></li>
      </ul>
    </li>
  </ul>
</nav>

<button class="menu language">EN</button>

<nav>
  <ul>
    <li><a href=#>EN</a></li>
    <li><a href=#>FR</a></li>
    <li><a href=#>DE</a></li>
    <li><a href=#>IT</a></li>
    <li><a href=#>ES</a></li>
  </ul>
</nav>

<a href={{ url_for('proposals.create') }} id=participate>Participate</a>
<a href={{ url_for('articles.to_translate') }} id=translate>Translate</a>

<nav id=social-networks>
  <ul>
    <li><a href=https://www.facebook.com/cafebabelenglish class=icon-facebook></a></li>
    <li><a href=https://twitter.com/cafebabel_ENG class=icon-twitter></a></li>
    <li><a href=https://www.instagram.com/inside.cafebabel class=icon-instagram></a></li>
    <li><a href=https://www.youtube.com/channel/UCKanXxqYDt3vmz89Ig6RqBg class=icon-youtube></a></li>
  </ul>
</nav>
{% include "security/_messages.html" %}

<main>
  <a href={{ url_for('cores.home') }} class=logo>
    <img src={{ url_for('static', filename='img/logo-cafebabel.svg') }} alt="logo Cafébabel">
  </a>
  <div id=content>
{% block body %}{% endblock %}
  </div>
</main>

<footer>
  <p>© Cafébabel — {{ get_year() }}</p>
</footer>
<div id=preloader-layer>
    <img src={{ url_for('static', filename='img/preloader-A.gif') }} alt="preloader coffee grinder">
</div>

<script src={{ url_for('static', filename='js/utils.js') }}></script>
<script src={{ url_for('static', filename='js/script.js') }}></script>
{% block extra_js %}{% endblock %}
