{% extends "base.html" %}
{% from "_meta-macro.html" import meta %}
{% from "articles/macros.html" import card %}

{% block metas %}
  {{ meta('name=description', 'Cafébabel is the first European participatory magazine made for young Europeans across borders.') }}
  {{ meta('name=author', 'Cafébabel') }}
{% endblock %}

{% block metas_social %}
  {{ meta('property=og:url', request.url) }}
  {{ meta('property=og:image', url_for('static', filename='img/cafebabel-thumbnail-default.jpg')) }}
  {{ meta('property=og:title', self.meta_title()) }}
  {{ meta('property=og:type', 'website') }}
  {{ meta('property=og:description', 'Cafébabel is the first European participatory magazine made for young Europeans across borders.') }}
  {{ meta('property=og:site_name', 'Cafébabel') }}
  {{ meta('property=og:locale', current_language) }}
  {{ meta('name=twitter:card', 'summary') }}
  {{ meta('name=twitter:image', url_for('static', filename='img/cafebabel-thumbnail-default.jpg')) }}
  {{ meta('name=twitter:title', self.meta_title()) }}
  {{ meta('name=twitter:description', 'Cafébabel is the first European participatory magazine made for young Europeans across borders.') }}
  {{ meta('name=twitter:url', request.url) }}
{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}
  <h2>Editor's pick</h2>
{% set articles_editors_pick = articles_for_tag('editors-pick', limit=1) %}
{% for article_editors_pick in articles_editors_pick %}
  {{ card(article_editors_pick) }}
{% endfor %}

  <h2>Sections</h2>
{% for category in categories %}
  <a href={{ category.detail_url }} class="section-link {{ category.slug }}">{{ category.name }}</a>
{% endfor %}

  <h2>Meet My Hood</h2>
  {% set articles_meet_my_hood = articles_for_tag('meet-my-hood', limit=2) %}
  {% for article_meet_my_hood in articles_meet_my_hood %}
    {{ card(article_meet_my_hood) }}
  {% endfor %}

{% if articles %}
  <h2>Recently published</h2>
  {% for article in articles %}
    {% if article not in articles_editors_pick and article not in articles_meet_my_hood and article not in articles_network %}
      {{ card(article) }}
      {% if loop.index == 3 %}
        <h2>Network</h2>
        {% set articles_network = articles_for_tag('network', limit=1) %}
        {% for article_network in articles_network %}
          {{ card(article_network) }}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
