{% extends "base.html" %}
{% from "_meta-macro.html" import meta %}
{% from "articles/macros.html" import card %}

{% block metas %}
  {{ meta('name=description', 'Cafébabel is the first European participatory magazine made for young Europeans across borders.') }}
  {{ meta('name=author', 'Cafébabel') }}
{% endblock %}

{% block metas_social %}
  {{ meta('property=og:url', request.url) }}
  {{ meta('property=og:image', url_for('static', filename='img/cafebabel-thumbnail-default.jpg')) }}
  {{ meta('property=og:title', self.meta_title()) }}
  {{ meta('property=og:type', 'website') }}
  {{ meta('property=og:description', 'Cafébabel is the first European participatory magazine made for young Europeans across borders.') }}
  {{ meta('property=og:site_name', 'Cafébabel') }}
  {{ meta('property=og:locale', current_language) }}
  {{ meta('name=twitter:card', 'summary') }}
  {{ meta('name=twitter:image', url_for('static', filename='img/cafebabel-thumbnail-default.jpg')) }}
  {{ meta('name=twitter:title', self.meta_title()) }}
  {{ meta('name=twitter:description', 'Cafébabel is the first European participatory magazine made for young Europeans across borders.') }}
  {{ meta('name=twitter:url', request.url) }}
{% endblock %}

{% block body_class %}home{% endblock %}
{% block body %}
  {% if articles %}
    <section class=editors-pick>
      {% set articles_editors_pick = articles_for_tag('editors-pick', limit=1) %}
      {% for article_editors_pick in articles_editors_pick %}
        {{ card(article_editors_pick) }}
      {% endfor %}
    </section>

    <section class=categories>
      <h2>Sections</h2>
      {% for category in categories|shuffle %}
        <a href={{ category.detail_url }} class="section-link {{ category.slug }}">{{ category.name }}</a>
      {% endfor %}
    </section>

    <section class=latest>
      {% set articles_latest1 = articles_for_tag('latest1', limit=3) %}
      <h2>Latest1</h2>
      {% for article_latest1 in articles_latest1 %}
        {{ card(article_latest1) }}
      {% endfor %}
    </section>

    <section class=series>
      {% set articles_meet_my_hood = articles_for_tag('meet-my-hood', limit=2) %}
      <div class=banner>
        <h2>Meet My Hood</h2>
      </div>
      <div class=tag-articles>
        {% for article_meet_my_hood in articles_meet_my_hood %}
          {{ card(article_meet_my_hood) }}
        {% endfor %}
      </div>
    </section>

    <section class=latest>
      {% set articles_latest2 = articles_for_tag('latest2', limit=3) %}
      <h2>Latest2</h2>
      {% for article_latest2 in articles_latest2 %}
        {{ card(article_latest2) }}
      {% endfor %}
    </section>

    <section class=series>
      {% set articles_network = articles_for_tag('network', limit=1) %}
      <div class=banner>
        <h2>Network</h2>
      </div>
      <div class=tag-articles>
        {% for article_network in articles_network %}
          {{ card(article_network) }}
        {% endfor %}
      </div>
    </section>

    <section class=latest>
      {% set articles_latest3 = articles_for_tag('latest3', limit=3) %}
      <h2>Latest3</h2>
      {% for article_latest3 in articles_latest3 %}
        {{ card(article_latest3) }}
      {% endfor %}
    </section>

    <section class=series>
      {% set articles_voglio_mangiare_cosi = articles_for_tag('voglio-mangiare-cosi', limit=2) %}
      <div class=banner>
        <h2>Voglio Mangiare Così</h2>
      </div>
      <div class=tag-articles>
        {% for article_voglio_mangiare_cosi in articles_voglio_mangiare_cosi %}
          {{ card(article_voglio_mangiare_cosi) }}
        {% endfor %}
      </div>
    </section>

    <section class=latest>
      {% set articles_latest4 = articles_for_tag('latest4', limit=3) %}
      <h2>Latest4</h2>
      {% for article_latest4 in articles_latest4 %}
        {{ card(article_latest4) }}
      {% endfor %}
    </section>
  {% endif %}

{% if articles %}
  <h2>Recently published</h2>
  {% for article in articles %}
    {% if article not in articles_editors_pick and article not in articles_meet_my_hood %}
      {{ card(article) }}
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
