{% from "users/profile-macros.html" import social_field with context %}
{% extends 'base.html' %}

{% block body_class %}profile-page{% endblock %}
{% block body %}
<h1>{{ user }}'s profile</h1>

<section>
  <h2>About</h2>
  {% if user.profile.has_image %}
  <img src={{ user.profile.image_url }} alt="Picture of {{ user }}">
  {% endif %}

  {% if user.profile.socials %}
  <ul class=social-networks>
    {{ social_field('twitter') if user.profile.socials.twitter }}
    {{ social_field('facebook') if user.profile.socials.facebook }}
    {{ social_field('instagram') if user.profile.socials.instagram }}
    {{ social_field('medium') if user.profile.socials.medium }}
    {{ social_field('flickr') if user.profile.socials.flickr }}
    {{ social_field('pinterest') if user.profile.socials.pinterest }}
  </ul>
  {% endif %}

  <ul>
    <li><h3>Full name:</h3> <span>{{ user.profile.name or '' }}</span></li>
    <li><h3>Website:</h3> <span><a href="{{ user.profile.website or '' }}" target=_blank>{{ user.profile.website or '' }}</a></span></li>
    <li>
      <h3>Bio:</h3>
      <p>
        <span>{{ user.profile.about or '' }}</span>
      </p>
    </li>
  </ul>
  {% if user.is_me() or current_user.has_role('editor') %}
  <a class=button href={{ url_for('users.edit', id=user.id) }}>Edit this profile</a>
  {% endif %}
</section>

<section>
  <h2>Contributions</h2>
  {% for article in articles %}
    {% include "articles/_card.html" %}
  {% endfor %}
</section>
{% endblock %}
