{% extends 'base.html' %}
{% from "users/macros.html" import social_field, default_profile_picture with context %}
{% from "articles/macros.html" import card %}
{% from "_extrajs-macros.html" import extra_js %}

{% block extra_js %}
  {{ extra_js(['js/image-preview.js']) }}
{% endblock %}
{% block body_class %}profile-page edit{% endblock %}
{% block body %}
<h1>{{ user }}'s profile</h1>

<section>
  <h2>About</h2>
  <form method=post action=. enctype=multipart/form-data>
    <div class=file>
      <output>
        {% if user.profile.has_image %}
          <img src={{ user.profile.image_url }} alt="My picture">
        {% else %}
          {{ default_profile_picture() }}
        {% endif %}
      </output>
      <input id=image type=file name=image>
      <label for=image><strong>Choose profile picture</strong></label> <!-- https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ -->
      <small class=size-info>(500Ko maximum - Square Picture)</small>
      {% if user.profile.has_image %}
        <div class=checkbox>
          <label for=delete>Delete this picture</label>
          <input type=checkbox name=delete id=delete value=1>
        </div>
      {% endif %}
    </div>

    <ul class=social-networks>
      {{ social_field('twitter') }}
      {{ social_field('facebook') }}
      {{ social_field('instagram') }}
      {{ social_field('medium') }}
      {{ social_field('flickr') }}
      {{ social_field('pinterest') }}
    </ul>

    <div class=text>
      <label for=name>Full name</label>
      <input type=text id=name name=name value="{{ user.profile.name }}" required>
    </div>
    <div class=url>
      <label for=website>Website</label>
      <input type=url id=website name=website value="{{ user.profile.website or '' }}">
    </div>
    <div class=textarea>
      <label for=about>Bio</label>
      <textarea id=about name=about>{{ user.profile.about or '' }}</textarea>
    </div>
    {% if current_user.has_role('editor') %}
    <div class=checkbox>
      <label for=editor>Editor role</label>
      <input type=checkbox id=editor name=editor value=1 {% if user.has_role('editor') %}checked{% endif %}>
    </div>
    {% endif %}
    <input type=submit value="Save this profile">
  </form>
</section>

<section>
  <h2>Contributions</h2>
  {% for article in articles %}
    {{ card(article) }}
  {% endfor %}
</section>
{% endblock %}
