{% extends "base.html" %}
{% from "_meta-macro.html" import meta %}
{% from "articles/macros.html" import card %}

{% block extra_js %}
  {% assets filters='jsmin', output='build/tag-detail.js', 'js/tag-detail.js' %}
      <script src={{ ASSET_URL }}></script>
  {% endassets %}
{% endblock %}

{% block meta_title %}{{ tag.name }} – Cafébabel{% endblock %}
{% block metas %}
  {% if tag.summary %}
    {{ meta('name=description', tag.summary|striptags) }}
  {% endif %}
{% endblock %}

{% block metas_social %}
  {{ meta('property=og:image', absolute(tag.image_url)) }}
  {{ meta('property=og:url', request.url) }}
  {{ meta('property=og:title', self.meta_title()) }}
  {{ meta('property=og:type', 'article') }}
  {% if tag.summary %}
    {{ meta('property=og:description', tag.summary|striptags) }}
  {% endif %}
  {{ meta('property=og:site_name', 'Cafébabel') }}
  {{ meta('property=og:locale', current_language) }}
  {{ meta('name=twitter:card', 'summary') }}
  {{ meta('name=twitter:image', absolute(tag.image_url)) }}
  {{ meta('name=twitter:title', self.meta_title()) }}
  {% if tag.summary %}
    {{ meta('name=twitter:description', tag.summary|striptags) }}
  {% endif %}
  {{ meta('name=twitter:url', request.url) }}
{% endblock %}

{% block body_class %}tag-page tag-{{ tag.slug }}{% endblock %}
{% block body %}
  {% if tag.has_image %}
    <div class="tag-header image">
      <img src={{ tag.image_url|resize(config.RESIZE_SIZE_ARTICLE_COVER) or '' }} alt="Cover picture for #{{ tag.name }}">
    </div>
  {% else %}
    <div class="tag-header default"></div>
  {% endif %}
  <header>
    <h1>{{ tag.name }}</h1>
    {% if tag.summary %}
      <div class=summary>{{ tag.summary|markdown }}</div>
    {% endif %}
  </header>
  {% if current_user.has_role('editor') %}
    <p>
      <a class=button href={{ tag.edit_url }}>Edit tag page</a>
    </p>
  {% endif %}
  {% for article in articles %}
    {{ card(article) }}
  {% endfor %}
{% endblock %}
