{% extends "base.html" %}

{% block extra_js %}<script src={{ url_for('static', filename='js/tag-parallax.js') }}></script>{% endblock %}

{% block meta_title %}{{ tag.name }}{% endblock %}
{% block meta_description %}{{ tag.summary }}{% endblock %}

{% block body_class %}tag-page{% endblock %}
{% block body %}
  {% if tag.has_image %}
    <div class=tag-header-image style="background:url({{ tag.image_url }}) no-repeat center 0 fixed"></div>
  {% else %}
    <div class=tag-header-default></div>
  {% endif %}
  <header>
    <h1>{{ tag.name }}</h1>
    {% if tag.summary %}
      <p class=summary>{{ tag.summary }}</p>
    {% endif %}
  </header>
  {% if current_user.has_role('editor') %}
    <p>
      <a class=button href={{ url_for('tags.edit', slug=tag.slug) }}>Edit this tag</a>
    </p>
  {% endif %}
  {% for article in articles %}
    {% include "articles/_card.html" %}
  {% endfor %}
{% endblock %}