{% extends "base.html" %}
{% import "articles/macros.html" as macros %}

{% block extra_js %}
  {% assets filters='jsmin', output='build/tags-edit.js', 'js/noise.js', 'js/image-preview.js', 'js/textarea-change.js' %}
      <script src={{ ASSET_URL }}></script>
  {% endassets %}
{% endblock %}

{% block body_class %}tag-page-edit{% endblock %}
{% block body %}
<form method=post action={{ tag.edit_url }} enctype=multipart/form-data>
  <input type=hidden name=slug value="{{ tag.slug }}">
  {{ macros.image_upload(tag) }}
  <div class=edit-tag-detail-container>
    <h1>{{ tag.name }}</h1>
    <div class=textarea>
      <label for=summary>Description</label>
      <textarea id=summary name=summary>{{ tag.summary or '' }}</textarea>
    </div>
    <input type=submit value=Save>
  </div>
</form>
{% endblock %}
