{% extends "base.html" %}
{% import "articles/macros.html" as macros %}

{% block extra_js %}
  {% assets filters='jsmin', output='build/translations-create.js', 'js/articles-tags.js', 'js/textarea-change.js', 'js/markdown-helper-position.js' %}
      <script src={{ ASSET_URL }}></script>
  {% endassets %}
{% endblock %}

{% block body_class %}article-page-edit{% endblock %}
{% block body %}

  <form method=post action=.>
    <input type=hidden name=original value="{{ article.id }}">
    {% if article.has_image %}
      <img src="{{ article.image_url|resize(config.RESIZE_SIZE_ARTICLE_COVER) }}" alt="Image for {{ article.title }}">
    {% endif %}
    <h1 class="edit active">
      <label for=title>Title</label>
      <input id=title name=title required placeholder="{{ article.title }}" value="{{ article.title }}">
    </h1>
    <div class=textarea>
      <label for=summary>Lead paragraph</label>
      <textarea id=summary name=summary>{{ article.summary or '' }}</textarea>
    </div>
    <div class="textarea markdowntext">
      <label for=body>Body text</label>
      <textarea id=body name=body required>{{ article.body }}</textarea>
      {% include "articles/markdown-helper.html" %}
    </div>
    {{ macros.tags_fields(translation) }}
    <input type=submit value="Submit translation">
  </form>
{% endblock %}
