{% extends "base.html" %}
{% from "_extrajs-macros.html" import extra_js %}

{% block extra_js %}
  {{ extra_js(['js/articles-tags.js', 'js/textarea-change.js']) }}
{% endblock %}

{% block body_class %}create-article-page{% endblock %}
{% block body %}

<form method=post action=.>
  <input type=hidden name=language value="{{ language }}">
  <input type=hidden name=original value="{{ article.id }}">
  {% if article.has_image %}
    <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
  {% endif %}
  <h1 class="edit active">
    <label for=title>Title</label>
    <input id=title name=title required value="" placeholder="Translation in {{ language }} for article “{{ article.title }}”">
  </h1>
  <div class=textarea>
    <label for=summary>Teaser</label>
    <textarea id=summary name=summary required></textarea>
  </div>
  <div class=textarea>
    <label for=body>Body</label>
    <textarea id=body name=body required></textarea>
    {% include "articles/markdown-helper.html" %}
  </div>
  <input type=submit value="Create">
</form>
{% endblock %}
