{% extends "base.html" %}
{% from "_extrajs-macros.html" import extra_js %}

{% block extra_js %}
  {{ extra_js(['js/articles-tags.js']) }}
{% endblock %}

{% block body %}
<h1>Creating a translation in {{ language }} for article “{{ article.title }}”</h1>

<form method=post action=.>
  <input type=hidden name=language value="{{ language }}">
  <input type=hidden name=original value="{{ article.id }}">
  <div class=text>
    <label for=title>Title</label>
    <input id=title name=title required>
  </div>
  <div class=textarea>
    <label for=summary>Summary</label>
    <textarea id=summary name=summary required></textarea>
  </div>
  <div class=textarea>
    <label for=body>Body</label>
    <textarea id=body name=body required></textarea>
    {% include "articles/markdown-helper.html" %}
  </div>
  <input type=submit value="Create">
</form>
{% endblock %}
