{% extends "base.html" %}
{% from "_meta-macro.html" import meta without context %}
{% import "articles/macros.html" as macros without context %}

{% block meta_title %}{{ translation.title }}{% endblock %}
{% block metas %}
  {{ meta('name=description', translation.summary|striptags) }}
{% endblock %}

{% block body %}
<article>
  <h1>{{ translation.title }}</h1>

  <p class=reading-time>Reading time: {{ translation.body|reading_time }} min.</p>

  <p>Article in <span>{{ translation.language }}</span></p>

  {% if translation.has_image %}
    <img src="{{ translation.image_url }}" alt="Image for {{ translation.title }}">
  {% endif %}

  {% if translation.summary %}
    <div class=summary>{{ translation.summary|markdown }}</div>
  {% endif %}

  {{ translation.body|markdown }}

  {{ macros.article_meta(translation.original_article) }}

  <p>
    Translated from <a href="{{ translation.original_article.detail_url }}">{{ translation.original_article.title }}</a> by {{ translation.translator }}.
  </p>

  {% if current_user.has_role('editor') or translation.translator == current_user %}
    <p>
      <a class=button href={{ url_for('translations.edit', id=translation.id) }}>Edit this translation</a>
    </p>
  {% endif %}
</article>
{% endblock %}
