{% extends "base.html" %}
{% from "_meta-macro.html" import meta %}
{% import "articles/macros.html" as macros %}

{% block meta_title %}{{ translation.title }}{% endblock %}
{% block metas %}
  {{ meta('name=description', translation.summary|striptags) }}
{% endblock %}

{% block body_class %}article-page{% endblock %}
{% block body %}
<article>

  {% if translation.has_image %}
    <img src="{{ translation.image_url }}" alt="Image for {{ translation.title }}">
  {% endif %}

  <h1>{{ translation.title }}</h1>

  {{ macros.article_meta(translation) }}

  <p class="translation-language">Article in <span>{{ translation.language }}</span></p>

  {% if translation.summary %}
    <div class=summary>{{ translation.summary|markdown }}</div>
  {% endif %}

  {{ translation.body|markdown|rewrite_img_src }}

  <p class=translation-details>
    Translated from <a href="{{ translation.original_article.detail_url }}">{{ translation.original_article.title }}</a>
    by {% for translator in translation.translators -%}
      <a href="{{ url_for('users.detail', id=translator.pk) }}">{{ translator }}</a>
    {%- endfor %}.
  </p>

  {% if current_user.has_role('editor') or current_user in translation.translators %}
    <p>
      <a class=button href={{ url_for('translations.edit', id=translation.id) }}>Edit this translation</a>
    </p>
  {% endif %}
</article>
{% endblock %}
