{% extends "base.html" %}
{% from "_meta-macro.html" import meta %}

{% block extra_js %}
  {% assets filters='jsmin', output='build/proposals-create.js', 'js/textarea-change.js' %}
      <script src={{ ASSET_URL }}></script>
  {% endassets %}
{% endblock %}

{% block meta_title %}Pitch an article – Cafébabel{% endblock %}

{% block metas %}
  {{ meta('name=description', 'Want to pitch articles for Cafébabel? You’ve come to the right place.') }}
{% endblock %}

{% block metas_social %}
  {{ meta('property=og:image', url_for('static', filename='img/cafebabel-default-thumbnail.jpg')) }}
  {{ meta('property=og:url', request.url) }}
  {{ meta('property=og:title', self.meta_title()) }}
  {{ meta('property=og:type', 'article') }}
  {{ meta('property=og:description', 'Want to pitch articles for Cafébabel? You’ve come to the right place.') }}
  {{ meta('property=og:site_name', 'Cafébabel') }}
  {{ meta('property=og:locale', current_language) }}
  {{ meta('name=twitter:card', 'summary') }}
  {{ meta('name=twitter:image', url_for('static', filename='img/cafebabel-default-thumbnail.jpg')) }}
  {{ meta('name=twitter:title', self.meta_title()) }}
  {{ meta('name=twitter:description', 'Want to pitch articles for Cafébabel? You’ve come to the right place.') }}
  {{ meta('name=twitter:url', request.url) }}
{% endblock %}

{% block body_class %}pitch-page{% endblock %}
{% block body %}

<section>
  <h1>Pitch to participate</h1>
  <h3>Is Europe your jam? Then pitch your idea here:</h3>
  <form action=. method=post>
    <label for=field_name>Name*</label><input name=name id=field_name required>
    <label for=field_email>Email*</label><input type=email name=email id=field_email required>
    <label for=field_city>Current location</label><input name=city id=field_city>
    <label for=field_topic>Topic in a sentence*<p>ex: Drug laws in Portugal</p></label><textarea name=topic maxlength=1000 id=field_topic required></textarea>
    <label for=field_angle>Detailed pitch<p>(Max. 1,000 characters)</p><p>ex: I want to interview young and old people living in Portugal to find out how they experienced the 2001 drug policy reforms until now</p></label><textarea name=angle maxlength=1000 id=field_angle></textarea>
      <div class=select>
        <label for=media-type>Type of contribution
          <select name=media id=media-type required>
            <option value=text>Written</option>
            <option value=video>Video</option>
            <option value=photo>Photo</option>
    <div class=select>
      <label for=field-language>Mother tongue
        <select name=language id=field-language required>
          <option value=en>English</option>
          <option value=fr>French</option>
          <option value=it>Italian</option>
          <option value=de>German</option>
          <option value=es>Spanish</option>
        </select>
      </label>
    </div>
    <label for=field_name>Name *</label><input name=name id=field_name required>
    <label for=field_email>Contact *</label><input type=email name=email id=field_email required>
    <label for=field_city>City</label><input name=city id=field_city>
    <label for=field_topic>Topic in a sentence *<p>ex: Digital nomads in Lisbon</p></label><input name=topic id=field_topic required>
    <label for=field_angle>Pitch your story<p>ex: I want to meet young people/ participants of the three major digital nomad communities/ events in Lisbon and use their personal stories as an insight to describe the digital nomads landscape in Portugal</p></label><input name=angle id=field_angle>
      <div class=select>
        <label for=media-type>Media
          <select name=media id=media-type required>
            <option value=text>Text</option>
            <option value=video>Video</option>
            <option value=photo>Photo Gallery</option>
          </select>
        </label>
      </div>
      <div class=select>
        <label for=format>Format
          <select name=format id=format required>
            <option value=interview>Interview</option>
            <option value=portrait>Portrait</option>
            <option value=feature>Feature</option>
            <option value=data>Data</option>
            <option value=other>Other?</option>
          </select>
        </label>
      </div>
      <div class=select>
        <label for=section>Section
          <select name=section id=section required>
            <option value=creative>Creative</option>
            <option value=impact>Impact</option>
            <option value=experience>Experience</option>
            <option value=raw>Raw</option>
          </select>
        </label>
      </div>
    <label for=field_additional>Additional information</label><textarea name=additional id=field_additional></textarea>

    <button type=submit>You’re all done! Submit your pitch</button>
  </form>
  <a class="button proposal-email" href="m&#x61;ilto:{{ editor_email }}">Or contact your editor</a>
  <script>
    const email = document.querySelector('.proposal-email').href
    document.querySelector('.proposal-email').href = email.replace(/&#46;/g, '.').replace(/&#x61;/g, 'a')
  </script>
</section>
{% endblock %}
