{% extends "base.html" %}

{% block meta_title %}{{ article.title }}{% endblock %}
{% block meta_description %}{{ article.summary }}{% endblock %}

{% block body %}
<article>
  <h1>{{ article.title }}</h1>

  <p class=reading-time>Reading time: {{ article.body|reading_time }} min.</p>

  <p>Article in <span>{{ article.language }}</span></p>

  {% if article.has_image %}
  <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
  {% endif %}

  <p class=summary>{{ article.summary }}</p>

  {{ article.body|markdown }}

  <p>
    Published on <time>{{ article.creation_date.date() }}</time>
    by {{ article.author }}
    {% if article.category %}
      in category {{ article.category }}
    {% endif %}
  </p>
  <nav class=share>
    <a href="https://twitter.com/share?url={{ request.url|quote_plus }}&text={{ article.title }}&via=cafebabel">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url|quote_plus }}">Facebook</a>
  </nav>
  {% if current_user.has_role('editor') and article.is_published %}
    <p>
      <a class=button href={{ url_for('article.article_edit_form', article_id=article.id) }}>Edit this article</a>
    </p>
  {% endif %}

  {% if article.translated_from %}
    <p>
      Translated from <a href="{{ article.translated_from.detail_url }}">{{ article.translated_from.title }}</a> by {{ article.translator }}.
    </p>
  {% endif %}

  <p>Translate this article in:</p>
  <ul>
    {% for language in get_languages() %}
      {% if article.language != language[0] and language[0] not in translations_langs %}
        {% if article.is_translation %}
          {% if language[0] != article.translated_from.language %}
            <li><a href={{ url_for('translation.translation_create') }}?lang={{language[0]}}&from={{ article.translated_from.id }}>{{ language[1] }}</a></li>
          {% endif %}
        {% else %}
          <li><a href={{ url_for('translation.translation_create') }}?lang={{language[0]}}&from={{ article.id }}>{{ language[1] }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  {% if translations_publisheds %}
    <p>Read this article in:</p>
    <ul>
      {% for translation in translations_publisheds %}
        <li>{{ translation.language }}: <a href={{ translation.detail_url }}>{{ translation.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if translations_drafts %}
    <p>Review this article in:</p>
    <ul>
      {% for translation in translations_drafts %}
        <li>{{ translation.language }}: <a href={{ url_for('translation.translation_detail', id=translation.id) }}>{{ translation.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

</article>
{% endblock %}
