{% extends "base.html" %}

{% block meta_title %}{{ article.title }}{% endblock %}
{% block meta_description %}{{ article.summary }}{% endblock %}

{% block body %}
<article>
  <h1>{{ article.title }}</h1>

  <p class=reading-time>Reading time: {{ article.body|reading_time }} min.</p>

  <p>Article in <span>{{ article.language }}</span></p>

  {% if article.has_image %}
  <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
  {% endif %}

  {% if article.summary %}
  <p class=summary>{{ article.summary }}</p>
  {% endif %}

  {{ article.body|markdown }}

  <p>
    Published on <time>{{ article.creation_date.date() }}</time> by {{ article.author }}
  </p>
  {% block share_nav %}
  <nav class=share>
    <a href="https://twitter.com/share?url={{ request.url|quote_plus }}&text={{ article.title }}&via=cafebabel_eng">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url|quote_plus }}">Facebook</a>
  </nav>
  {% endblock %}
  {% if current_user.has_role('editor') and article.is_published %}
    <a class=button href={{ url_for('article.article_edit_form', article_id=article.id) }}>Edit this article</a>
  {% endif %}
</article>
{% endblock %}
