{% extends "base.html" %}

{% block body %}
<form method=post action={{ url_for('article_create') }} enctype=multipart/form-data>
  <input type=hidden name=uid value="{{article.uid or ''}}">
  <div class=text>
    <label for=title>Title</label>
    <input id=title name=title value="{{ article.title or '' }}" required>
  </div>
  <div class=select>
    <label for=language>Language</label>
    <select id=language name=language required>
      {% for language in get_languages() %}
      <option value={{language[0]}}{% if article.language == language[0] %} selected{% endif %}>{{ language[1] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class=select>
    <label for=category>Category</label>
    <select id=category name=category required>
      {% for category in get_categories() %}
      <option value={{ category }}{% if article.category == category %} selected{% endif %}>{{ category }}</option>
      {% endfor %}
    </select>
  </div>
  {% if current_user.has_role('editor') %}
  <div class=select>
    <label for=status>Status</label>
    <select id=status name=status required>
      <option value=draft{% if article.is_draft %} selected{% endif %}>Draft</option>
      <option value=published{% if article.is_published %} selected{% endif %}>Published</option>
    </select>
  </div>
  <div class=select>
    <label for=author>Author</label>
    <select id=author name=author required>
      {% for author in authors %}
      <option value={{author.id}} {% if article.id and article.author == author %}selected{% endif %}>{{ author }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}
  <div class=textarea>
    <label for=summary>Summary</label>
    <textarea id=summary name=summary>{{ article.summary or '' }}</textarea>
  </div>
  <div class=textarea>
    <label for=body>Body</label>
    <textarea id=body name=body required>{{ article.body or '' }}</textarea>
  </div>
  <div class=file>
    <label for=image>Image</label>
    {% if article.has_image %}
    <img src={{ article_image_url(article) }} alt>
    <div class=checkbox>
      <label for=delete-image>Delete image</label>
      <input type=checkbox name=delete-image id=delete-image value=1>
    </div>
    {% endif %}
    <input type=file id=image name=image>
  </div>
  <input type=submit value="Save">
</form>

{% if current_user.has_role('editor') and article.id %}
<a class=button href={{ url_for('article_delete', id=article.id) }}>Delete this article</a>
{% endif %}
{% endblock %}
