{% extends "base.html" %}

{% block body_class %}translate-list-page{% endblock %}
{% block body %}
<section>

  <form method=get action=.>
    <h1>
      Articles to translate from
      <select id=from name=from required>
        {% for language in get_languages() %}
        <option value={{ language[0] }}{% if from_language[0] == language[0] %} selected{% endif %}>{{ language[1] }}</option>
        {% endfor %}
      </select>
      to
      <select id=to name=to required>
        {% for language in get_languages() %}
        <option value={{ language[0] }}{% if to_language[0] == language[0] %} selected{% endif %}>{{ language[1] }}</option>
        {% endfor %}
      </select>
    </h1>
    <input type=submit value=Refresh>
  </form>

  <ul>
  {% for article in articles %}
    {% if not article.is_translated_in(to_language[0]) %}
      <li>
        <article>
          {% if article.has_image %}
              <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
          {% endif %}
          <time>Published on {{ article.creation_date.date() }}</time>
          <h2>{{ article.title }}</h2>
          <ul>
            {% if article.is_translation %}
              {% if article.original_article.language != to_language[0] %}
                <li><a href={{ url_for('translations.create') }}?lang={{ to_language[0] }}&original={{ article.original_article.id }}>Translate in {{ to_language[1] }}</a></li>
              {% endif %}
            {% else %}
              <li><a href={{ url_for('translations.create') }}?lang={{ to_language[0] }}&original={{ article.id }}>Translate in {{ to_language[1] }}</a></li>
            {% endif %}
          </ul>
        </article>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

</section>
{% endblock %}
