{% extends "base.html" %}

{% block body_class %}translate-list-page{% endblock %}
{% block body %}
<section>
  <h1>Articles to translate in {{ current_language[1] }}</h1>

  <p>Change language:</p>
  <ul class=to-translate-language>
    {% for language in get_languages() %}
      {% if current_language[0] != language[0] %}
        <li><a href={{ url_for('articles.to_translate') }}?in={{language[0]}}>{{ language[1] }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul>
  {% for article in articles %}
    <li>
      <article>
        {% if article.has_image %}
            <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
        {% endif %}
        <time>Published on {{ article.creation_date.date() }}</time>
        <h2>{{ article.title }}</h2>
        <ul>
        {% for language in get_languages() %}
          {% if article.language != language[0] and not article.is_translated_in(language[0]) %}
            {% if article.is_translation %}
              {% if article.original_article.language != language[0] %}
                <li><a href={{ url_for('translations.create') }}?lang={{language[0]}}&original={{ article.id }}>Translate in {{ language[1] }}</a></li>
              {% endif %}
            {% else %}
              <li><a href={{ url_for('translations.create') }}?lang={{language[0]}}&original={{ article.id }}>Translate in {{ language[1] }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </article>
    </li>
  {% endfor %}
  </ul>

</section>
{% endblock %}
