/* Normalize */

* {
    box-sizing: border-box;
}

::selection {
    background: #bde513;
}

:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
    display: block;
}

main {
    display: block;
    width: 100%;
    background-color: #fff;
    min-height: 100vh; /* https://stackoverflow.com/questions/1509589/full-viewport-height-scaling-div-just-css-no-js-possible */
}

#content {
    max-width: 120rem;
    margin: 10rem auto 70rem auto;
    padding: 2rem 2rem 7rem 2rem;
}

@media screen and (min-width: 1200px) {
    #content {
        padding: 0 0 7rem 0;
    }
}

/* Vremena Grotesk */

@font-face {
    font-family: 'vremena_grotesk';
    src: url('../fonts/vremenagroteskbook-webfont.woff2') format('woff2'),
    url('../fonts/vremenagroteskbook-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'vremena_grotesk';
    src: url('../fonts/vremenagroteskbookitalic-webfont.woff2') format('woff2'),
    url('../fonts/vremenagroteskbookitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'vremena_grotesk';
    src: url('../fonts/vremenagrotesk-webfont.woff2') format('woff2'),
    url('../fonts/vremenagrotesk-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'vremena_grotesk';
    src: url('../fonts/vremenagroteskitalic-webfont.woff2') format('woff2'),
    url('../fonts/vremenagroteskitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'vremena_grotesk';
    src: url('../fonts/vremenagroteskmedium-webfont.woff2') format('woff2'),
    url('../fonts/vremenagroteskmedium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'vremena_grotesk';
    src: url('../fonts/vremenagroteskmediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/vremenagroteskmediumitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'vremena_grotesk';
    src: url('/static/fonts/vremenagroteskbold-webfont.woff2') format('woff2'),
    url('/static/fonts/vremenagroteskbold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'vremena_grotesk';
    src: url('../fonts/vremenagroteskbolditalic-webfont.woff2') format('woff2'),
    url('../fonts/vremenagroteskbolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

/* Sporting grotesque */

@font-face {
    font-family: 'sporting_grotesque';
    src: url('../fonts/sporting_grotesque_normal-webfont.woff2') format('woff2'),
    url('../fonts/sporting_grotesque_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sporting_grotesque';
    src: url('../fonts/sporting_grotesque_gras-webfont.woff2') format('woff2'),
    url('../fonts/sporting_grotesque_gras-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Icomoon */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8rv96k');
    src:  url('../fonts/icomoon.eot?8rv96k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8rv96k') format('truetype'),
    url('../fonts/icomoon.woff?8rv96k') format('woff'),
    url('../fonts/icomoon.svg?8rv96k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #00283C;
}
.icon-profile:before {
    content: '\e902';
}
.icon-checkmark:before {
    content: '\ea10';
}
.icon-arrow-down:before {
    content: '\ea3e';
}
.icon-facebook:before {
    content: '\ea90';
}
.icon-instagram:before {
    content: '\ea92';
}
.icon-twitter:before {
    content: '\ea96';
}
.icon-youtube:before {
    content: '\ea9d';
}
.icon-flickr:before {
    content: '\eaa4';
}
.icon-linkedin:before {
    content: '\eaca';
}
.icon-pinterest:before {
    content: '\ead2';
}
.icon-medium:before {
    content: '\e900';
}

/* General */

body,
button,
input,
select,
textarea {
    color: #00283C;
    font-family: 'vremena_grotesk', sans-serif;
    font-size: 1.9rem;
    line-height: 1.5;
    font-weight:200;
    font-style: normal;
    border-radius: 0;
}

/* Titles */

h1 {
    font-size: 4.2rem;
    margin: 4rem 0;
    border: 0.3rem solid #00283C;
    padding: 5rem;
    text-align: center;
}

h2 {
    font-size: 3.2rem;
    margin: 2rem 0 4rem;
}

h3 {
    font-size: 2.8rem;
    margin: 3rem 0;
    line-height: 1.4;
}

h4 {
    font-size: 2.4rem;
    margin: 2.5rem 0;
}

h5 {
    font-size: 2.2rem;
    margin: 2rem 0;
}

h6 {
    font-size: 2.0rem;
    margin: 2rem 0;
}

p {
    margin: 0 0 4rem;
}

blockquote {
    font-family: 'sporting_grotesque', sans-serif;
    font-size: 2.8rem;
    margin: 5rem 0;
    padding: 0 0 0 6rem;
    font-style: normal;
}

time {
    font-weight: 100;
    font-size: 1.4rem;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
li {
    text-align: left;
    position: relative;
}
li a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

label {
    display: block;
}

input,
textarea {
    border: none;
    border-bottom: 0.1rem solid #00283C;
    padding: 2rem;
    margin: 2rem 0;
    background: #fff;
    display: block;
    width: 100%;
    transition: border-color .3s;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    height: 6.9rem;
}

input:focus,
textarea:focus {
    border: none;
    border-bottom: 0.1rem solid #bde513;
    outline: none;
    transition: border-color .3s;
}
input::placeholder {
    font-family: 'vremena_grotesk', sans-serif;
    color: #00283C;
}
input:focus::placeholder {
    color:#bde513;
}
input[type=submit],
button {
    text-align: center;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
    background-color: #00283C;
    border: 0.1rem solid #00283C;
    color: #fff;
    width: 100%;
}
input[type=submit]:hover,
button:hover {
    background-color: #fff;
    color:  #00283C;
    border: 0.1rem solid #00283C;
}

input[type=submit],
input[type=submit]:hover,
button,
button:hover {
    transition: all 0.25s ease-in-out;
}

.authentication-form {
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
}

.authentication-form ul {
    padding: 1rem;
    border: 0.1rem solid red;
    background-color: white;
    position: absolute;
    bottom: -35%;
    width: 100%;
    z-index: 1;
}

.authentication-form ul li {
    text-align: center;
    font-size: 1.2rem;
    color: red;
}

.authentication-form ul:after,
.authentication-form ul:before {
    content: '';
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    position: absolute;
}

.authentication-form ul:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 1rem;
    margin-left: -1rem;
}
.authentication-form ul:before,
.authentication-form ul:hover:before {
    border-color: rgba(255, 0, 0, 0);
    border-bottom-color: red;
    border-width: 1.1rem;
    margin-left: -1.1rem;
}

/* login form field animation on focus */
.authentication-form .text,
.authentication-form .password {
    position: relative;
}

.authentication-form .text label,
.authentication-form .password label {
    transform: translateY(7rem);
    color: #00283C;
    transition: all .3s;
}

.authentication-form .text input,
.authentication-form .password input {
    position: relative;
    background: transparent;
}

.authentication-form .text:after,
.authentication-form .password:after,
.authentication-form .text:before,
.authentication-form .password:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: #00283C;
    bottom: 0;
    transition: all .3s;
}

.authentication-form .text:after,
.authentication-form .password:after {
    background-color: #bde513;
    width: 0;
}

.authentication-form .text.active:after,
.authentication-form .password.active:after {
    width: 100%;
}

.authentication-form .text.active label,
.authentication-form .password.active label {
    color: #bde513;
}

.authentication-form .text.completed label,
.authentication-form .password.completed label {
    font-size: 1.4rem;
    transform: translateY(2.5rem);
}

@media screen and (min-width: 750px) {
    .authentication-form {
        width: 50%;
    }
}

#signin input[type=text],
#signin input[type=email] {
    border: none;
    border-bottom: 0.1rem solid #bde513;
    background-color: transparent;
    padding: 1rem 1rem 1rem 0;
}

label[for=styleguide],
label[for=remember] {
    display: inline-flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.checkbox {
    flex-direction: row-reverse;
    display: inline-flex;
    justify-content: flex-start;
    margin: 5rem 0;
}

[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin: 0;
    width: 3.5rem;
}

[type=checkbox]:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid #00283C;
    background: #f8f8f8;
    transition: border-color .3s;
}

[type=checkbox]:after {
    font-family: 'icomoon';
    content: '\ea10';
    text-transform: none;
    line-height: 2.6rem;
    font-size: 2.2rem;
    width: 3.7rem;
    height: 3.7rem;
    text-align: center;
    margin-left: -0.4rem;
    display: inline-block;
    overflow: hidden;
    color: #bde513;
    transition: all .2s;
}

[type=checkbox]:not(:checked):after {
    opacity: 0;
    transform: scale(0);
}

[type=checkbox]:checked:after {
    opacity: 1;
    transform: scale(1);
}

[type=checkbox]:focus:before {
    border: 0.1rem solid #bde513;
}

select { /* https://stackoverflow.com/questions/3532649/problem-with-select-and-after-with-css-in-webkit */
    padding: 1rem 3rem 1rem 1rem;
    margin:5rem 0;
    background: transparent;
    border: 0.1rem solid #00283C;
    cursor: pointer;
    border-radius: 0;
    min-width: 15rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select label {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.select label:after {
    position: absolute;
    font-family: 'icomoon';
    font-size: 1.9rem;
    content: '\ea3e';
    right: 1.2rem;
    top: 6.2rem;
    z-index: -1;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
}

/* Images */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Links */

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: #00283C;
    text-decoration: none;
}

a {
    position: relative;
    z-index: 0;
}

a:after {
    content: '';
    position: absolute;
    height: 0.2rem;
    background-color: #00283C;
    left: 0;
    bottom: 0;
    width: 0;
    transition: all .3s;
}
a:hover:after {
    width: 100%;
}

button a:after {
    content: none;
}

.article-page article p a:after {
    height: 50%;
    top: 1rem;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    background-color: #bde513;
    overflow: hidden;
    transform: translateY(35%);
    transition: all .3s;
    z-index: -1;
}

.article-page article p a:hover:after {
    height: 90%;
    top: 0;
    transform: translateY(0);
    transition: all .3s;
}

/* Logo */

.logo {
    width: 10rem;
    display: block;
    transition: all .2s;
    top: 4.7rem;
    left: 50%;
    transform: translateX(-50%);
}

a.logo:after {
    display: none;
}

.logo:hover {
    top: 4.5rem;
}

/* Preloader */

#preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    transition: opacity .3s;
    z-index: 2;
}
#preloader img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#preloader.fadeout {
    opacity: 0;
}

#preloader.hidden {
    display: none;
}

/* Menu */

button.menu-button {
    position: fixed;
    display: block;
    top: 1rem;
    left: 1rem;
    width: 9.5rem;
    height: 9.5rem;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 3;
}

button.menu-button:focus {
    outline: none;
}

button.menu-button:before,
button.menu-button:after {
    content: '';
    height: 0.3rem;
    width: 3.5rem;
    margin: 0;
    left: 3rem;
    background: #00283C;
    position: absolute;
    display: block;
    transition: all .3s ease-in-out;
}

button.menu-button:before {
    top: 4rem;
}

button.menu-button:after {
    bottom: 4rem;
}

button.menu-button.active:before {
    top: 4.6rem;
    transform: rotate(45deg);
}
button.menu-button.active:after {
    bottom: 4.5rem;
    transform: rotate(-45deg);
}

button.menu-button + nav {
    background: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    font-size: 5vw;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
}

button.menu-button + nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.menu-button + nav ul li {
    text-align: center;
}

button.menu-button + nav ul li a {
    position: relative;
    display: inline-block;
}

button.menu-button + nav ul li a:after {
    content: '';
    position: absolute;
    height: 0.2rem;
    background-color: #00283C;
    left: 0;
    bottom: 0.5rem;
    width: 0;
    transition: all .3s;
}

button.menu-button + nav ul li a:hover:after {
    width: 100%;
}

button.menu-button.active + nav {
    display: block;
    opacity: 1;
    z-index: 2;
}

button.menu-button.active + nav ul li {
    padding-bottom: 0;
}

button.menu-button + nav a {
    display: block;
}

/* Profile page */

.profile-page h1 {
    border: 0.3rem solid #00283C;
    padding: 5rem;
    text-align: center;
    grid-area: title;
}

.profile-page main section {
    padding: 1.5rem;
}

.profile-page main section h2 {
    text-align: center;
}

.profile-page main section:first-of-type img {
    display: block;
    border-radius: 50%;
    max-width: 20rem;
    margin: 0.2rem auto;
}

.profile-page main section:first-of-type h3 {
    font-weight: 100;
    font-size: 1.4rem;
}

.profile-page main section:nth-of-type(2) article {
    margin-bottom: 5rem;
}

.profile-page main section:nth-of-type(2) h3 {
    margin: 0;
}

.profile-page main ul:first-of-type {
    width: 24rem;
    margin: 5rem auto;
}

.profile-page main ul:first-of-type li {
    display: inline-block;
    width: 3.5rem;
}

.profile-page [class^="icon-"],
.profile-page [class*=" icon-"] {
    font-size: 3rem;
}

.profile-page [class^="icon-"]:before,
.profile-page [class*=" icon-"]:before {
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
}

.profile-page main .social-networks li label {
    position: absolute;
    border: 0.1rem solid #00283C;
    background-color: white;
    margin-top: 1rem;
    padding-left: 3rem;
    left: -2.5rem;
    display: none;
    transition: all .3s;
    z-index: 1;
}

.profile-page main .social-networks li:nth-of-type(2) label {
    left: -6.5rem;
}

.profile-page main .social-networks li:nth-of-type(2) label:after,
.profile-page main .social-networks li:nth-of-type(2) label:before {
    left: 28%;
}

.profile-page main .social-networks li:nth-of-type(3) label {
    left: -10.5rem;
}

.profile-page main .social-networks li:nth-of-type(3) label:after,
.profile-page main .social-networks li:nth-of-type(3) label:before {
    left: 42%;
}

.profile-page main .social-networks li:nth-of-type(4) label {
    left: -14.5rem;
}

.profile-page main .social-networks li:nth-of-type(4) label:after,
.profile-page main .social-networks li:nth-of-type(4) label:before {
    left: 56%;
}

.profile-page main .social-networks li:nth-of-type(5) label {
    left: -18.5rem;
}

.profile-page main .social-networks li:nth-of-type(5) label:after,
.profile-page main .social-networks li:nth-of-type(5) label:before {
    left: 71%;
}

.profile-page main .social-networks li:nth-of-type(6) label {
    left: -22.5rem;
}

.profile-page main .social-networks li:nth-of-type(6) label:after,
.profile-page main .social-networks li:nth-of-type(6) label:before {
    left: 85%;
}

.profile-page main .social-networks .active label {
    display: block;
}

.profile-page main .social-networks label input {
    border: none;
    margin: 0;
    width: auto;
}

.profile-page main .social-networks label:after, .profile-page main .social-networks label:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: '';
    position: absolute;
}

.profile-page main .social-networks label:after {
    border-color: rgba(255, 255, 255, 0); /* http://www.cssarrowplease.com/ */
    border-bottom-color: white;
    border-width: 1rem;
    margin-left: -1rem;
}
.profile-page main .social-networks label:before,
.profile-page main .social-networks label:hover:before {
    border-color: rgba(0, 40, 60, 0);
    border-bottom-color: #00283C;
    border-width: 1.1rem;
    margin-left: -1.1rem;
}

.profile-page main .social-networks label [class^="icon-"]:before,
.profile-page main .social-networks label [class*=" icon-"]:before {
    top: 2.4rem;
    font-size: 2rem;
    left: 2rem;
}

.profile-page [class^="icon-"]:hover:after,
.profile-page [class*=" icon-"]:hover:after {
    width: 0;
}

@media screen and (min-width: 750px) {
    .profile-page main #content {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 50% 50%;
        grid-template-areas:    'title title'
                                'content sidebar';
        padding-right: 2rem; /* don't understand why I need that. Otherwise h1 doesn't have a right margin - maybe ask Éric*/
    }

    .profile-page [class^="icon-"]:hover:before,
    .profile-page [class*=" icon-"]:hover:before {
        transform: translateY(-0.2rem);
    }

    .profile-page main section:first-of-type {
        grid-area: content;
    }

    .profile-page main section:nth-of-type(2) {
        grid-area: sidebar;
    }
}

/* Pitch page */

.pitch-page form {
    max-width: 75rem;
    margin: 0 auto;
}

.pitch-page h3 {
    max-width:120rem;
    margin:2rem auto 4rem auto;
}

.pitch-page label > p {
    font-size: 1.3rem;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}

.pitch-page main button {
    display: block;
    max-width: 75rem;
    margin: 2rem auto;
}

.pitch-page button a {
    color: #fff;
    transition: all .3s;
}

.pitch-page button:hover a {
    color: #00283C;
}

/* Article page */

.article-page article p {
    max-width: 75rem;
    margin: 0 auto 5rem auto;
}

.article-page article h1 + p {
    text-align: center;
}

.article-page article h1 + p time {
    font-style: italic;
    font-family: serif;
    font-size: 1.9rem;
}

.article-page article ul li span {
    color: #bde513;
}

.article-page article h3 {
    text-align: center;
    max-width: 75rem;
    margin: 3rem auto 5rem auto;
}

.article-page article .summary {
    max-width: 100%;
    margin: 3rem auto 5rem auto;
    font-size: 2.8rem;
}

textarea#body {
    min-height: 80rem;
}

.article-language-selector {
    display: inline-block;
    transform: translateX(-50%);
    margin-left: 50%;
}

.article-language-selector li {
    display: inline-block;
    padding: 1rem;
    border: 0.1rem solid;
}

.share {
    width: 15rem;
    margin: 0 auto;
}

/* Translation list page */

.translate-list-page .select {
    display: inline-block;
}

.translate-list-page ul {
    max-width: 75rem;
    margin: 2rem auto 5rem auto;
}

.translate-list-page .to-translate-language li {
    display: inline-block;
    padding: 1rem;
    border: 0.1rem solid;
}

/* Flash infos */

.flashes {
    position: fixed;
    background: white;
    padding: 2rem;
    border: 0.1rem solid;
    left: 50%;
    bottom: 5rem;
    transform: translate(-50%, 0);
    transition: all .1s ease-out;
    z-index: 2;
}

.flashes.hidden {
    bottom: -10rem;
}

/* Footer */

footer {
    width: 100%;
    height: 70rem;
    font-size: 4rem;
    background: linear-gradient(to bottom right, #002f4b, #30799B); /* https://codepen.io/alexcarpenter/pen/LveDx?q=gradient&limit=all&type=type-pens */
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

footer p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
