<!doctype html>
<meta charset=utf-8>
<title>Cafebabel</title>
<link rel=stylesheet href=/static/css/edit.css>

<body class="{% block mode %}{% endblock %}">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
    Hi {{ current_user }}!
    <p>Do you want to <a href="{{ url_for('security.logout') }}">log out?</a>
{% else %}
    Hi anonymous
    <p>Do you want to <a href="{{ url_for('security.login') }}">log in?</a>
{% endif %}
{% block body %}

{% endblock %}
</body>
