<!doctype html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">
<title>{% block meta_title %}pan-European news, features and opinions{% endblock %} – Cafebabel</title>
<meta name=description content="{% block meta_description %}{% endblock %}">

<link rel=stylesheet href=/static/css/styles.css>
<link rel=stylesheet href=/static/css/edit.css>
<script src=/static/js/utils.js></script>

<body class="{% block body_class %}{% endblock %}">

<a href={{ url_for('home') }} class=logo>
  <img src=https://rawgit.com/cafebabel/styleguide/master/img/logo-cafebabel.svg alt="logo Cafébabel">
</a>

<button class=menu-button></button>

{% if current_user.is_authenticated %}
<nav>
  <ul>
    <li><a href={{ url_for('profile') }}>Profile</a></li>
    <li><a href={{ url_for('security.logout') }}>Log out</a></li>
    <li><a href={{ url_for('security.change_password') }}>Change password</a></li>
{% else %}
<nav>
  {% if security.registerable or security.recoverable or security.confirmable %}
  <ul>
    <li><a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Login') }}</a></li>
    {% if security.registerable %}
    <li><a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Register') }}</a><br/></li>
    {% endif %}
    {% if security.recoverable %}
    <li><a href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password') }}</a><br/></li>
    {% endif %}
    {% if security.confirmable %}
    <li><a href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a></li>
    {% endif %}
  {% endif %}
{% endif %}
    <li><a href={{ url_for('proposal.create') }}>Suggest an article</a></li>
    {% if current_user.has_role('editor') %}
    <li><a href={{ url_for('draft.create') }}>Write an article</a></li>
    {% endif %}
  </ul>
</nav>

{% include "security/_messages.html" %}

<main>
{% block body %}{% endblock %}
</main>



<script src=https://rawgit.com/cafebabel/styleguide/master/script.js></script>


