<!doctype html>
<meta charset=utf-8>
<title>Cafebabel</title>

<link rel=stylesheet href=https://rawgit.com/cafebabel/styleguide/master/styleguide.css>
<link rel=stylesheet href=/static/css/edit.css>
<script src=/static/js/utils.js></script>

<h1>Cafebabel</h1>

<button class=menu-button></button>
  
{% if current_user.is_authenticated %}
<nav>
  <ul>
    <li><a href={{ url_for('profile') }}>Profile</a></li>
    <li><a href={{ url_for('security.logout') }}>Log out</a></li>
    <li><a href={{ url_for('security.change_password') }}>Change password</a></li>
{% else %}
<nav>
  <ul>
  {% include "security/_menu.html" %}
{% endif %}
    <li><a href={{ url_for('article_proposal') }}>Suggest an article</a></li>
  </ul>
</nav>

{% include "security/_messages.html" %}
{% block body %}{% endblock %}

<script src=https://rawgit.com/cafebabel/styleguide/master/script.js></script>
