{% extends 'base.html' %}

{% block body %}
{% if user.profile %}
<h1>{{ user }}'s profile</h1>
{% else %}
<h1>Create a profile</h1>
{% endif %}

<ul>
  <li>Full name: <span data-edit-name=name data-edit-attrs="required">{{ user.profile.name or '' }}</span></li>
</ul>

{% if edit %}
  <form class=user-delete data-method=delete action={{ url_for('api_user_delete', id=user.id) }}>
    <button type=submit>Delete my profile</button>
  </form>
{% endif %}

{% if edit %}
  <form class=user-save data-method=put action={{ url_for('api_user_put', id=user.id) }}>
    <button type=submit>Save my profile</button>
  </form>

  <script>
    Array.from(document.querySelectorAll('[data-edit-name]')).forEach(editable => {
      editable.innerHTML = `
        <input data-edit
          type=${editable.dataset.editType || 'text'}
          name="${editable.dataset.editName}"
          value="${editable.textContent || ''}"
          ${editable.dataset.editAttrs}
        >
      `
    })

    document.querySelector('.user-save').addEventListener('submit', event => {
      event.preventDefault()

      const fields = Array.from(document.querySelectorAll('[data-edit]'))
      const data = {
        'name': fields.find(f => f.name === 'name').value
      }

      request(event.target.action, {
        method: event.target.dataset.method || event.target.method,
        body: data
      })
      .then(r => location.href = `/profile/${r.id}/`)
      .catch(e => alert(e.error))
    })

    const deleteForm = document.querySelector('.user-delete')
    deleteForm && deleteForm.addEventListener('submit', event => {
      event.preventDefault()
      const confirmed = confirm('Are you sure you want to delete your account?')
      if (!confirmed) return

      request(event.target.action, {method: event.target.dataset.method})
      .then(r => {
        console.info('user deleted')
        location.href = '/'
      })
      .catch(e => alert(e.error))
    })
  </script>
{% endif %}

{% endblock %}
