{% extends 'base.html' %}

{% block body %}
{% if user.id %}
<h1>{{ user }}'s profile</h1>
{% else %}
<h1>Create a profile</h1>
{% endif %}

<ul>
  <li>firstname: <span data-edit-name=firstname>{{ user.firstname or '' }}</span></li>
  <li>lastname: <span data-edit-name=lastname>{{ user.lastname or '' }}</span></li>
  <li>email: <span data-edit-name=email data-edit-type=email data-edit-attrs="required">{{ user.email or '' }}</span></li>
</ul>

{% if not edit %}
  <a href=?edit>Edit this profile</a>
{% endif %}

{% if edit %}
  {% if user.id %}
  <form class=user-delete data-method=delete action={{ url_for('api_user_delete', id=user.id) }}>
    <button type=submit>Delete this profile</button>
  </form>
  {% endif %}

  {% if user.id %}
  <form class=user-save data-method=put action={{ url_for('api_user_put', id=user.id) }}>
  {% else %}
  <form class=user-save method=post action={{ url_for('api_user_post') }}>
  {% endif %}
    <button type=submit>Save my profile</button>
  </form>

  <script>
    Array.from(document.querySelectorAll('[data-edit-name]')).forEach(editable => {
      editable.innerHTML = `
        <input data-edit
          type=${editable.dataset.editType || 'text'}
          name="${editable.dataset.editName}"
          value="${editable.textContent || ''}"
          ${editable.dataset.editAttrs}
        >
      `
    })

    document.querySelector('.user-save').addEventListener('submit', event => {
      event.preventDefault()

      const fields = Array.from(document.querySelectorAll('[data-edit]'))
      const data = {
        'firstname': fields.find(f => f.name === 'firstname').value,
        'lastname': fields.find(f => f.name === 'lastname').value,
        'email': fields.find(f => f.name === 'email').value,
      }

      request(event.target.action, {
        method: event.target.dataset.method || event.target.method,
        body: data
      })
      .then(r => location.href = `/user/${r.id}/`)
      .catch(e => alert(e.error))
    })

    const deleteForm = document.querySelector('.user-delete')
    deleteForm && deleteForm.addEventListener('submit', event => {
      event.preventDefault()
      request(event.target.action, {method: event.target.dataset.method})
      .then(r => {
        console.info('user deleted')
        location.href = '/'
      })
      .catch(e => alert(e.error))
    })
  </script>
{% endif %}

{% endblock %}
