{% from "articles/macros.html" import default_article_picture %}
<article>
  {% if article.has_image %}
    <a href={{ article.detail_url }}><img src={{ article.image_url }} alt="Image for {{ article.title }}"></a>
  {% else %}
    <a href={{ article.detail_url }}>
      {{ default_article_picture() }}
    </a>
  {% endif %}
  <div class=article-detail>
    <h3><a href={{ article.detail_url }}>{{ article.title }}</a></h3>
    <p>
      <span>Published on <time pubdate="{{ article.creation_date.date() }}">{{ article.creation_date.date() }}</time></span>
      — by {{ article.author }}<br>
      Article in {{ article.language }}
    </p>
    <p class=tags-list>
      {% for tag in article.tags -%}
        <a href={{ url_for('tags.detail', slug=tag.slug) }}>{{ tag.name }}</a>
      {%- endfor %}
    </p>
  </div>
</article>
