{% extends "base.html" %}
{% import "articles/macros.html" as macros %}
{% from "_meta-macro.html" import meta %}

{% block meta_title %}{{ article.title }}{% endblock %}
{% block metas %}
  {{ meta('name=description', article.summary|striptags) }}
  {{ meta('name=author', article.authors|join(', ')) }}
{% endblock %}

{% block metas_social %}
  {{ meta('property=article:author', article.authors|join(', ')) }}
  {{ meta('property=og:image', absolute(article.image_url)) }}
  {{ meta('property=og:url', request.url) }}
  {{ meta('property=og:title', self.meta_title()) }}
  {{ meta('property=og:type', 'article') }}
  {{ meta('property=og:description', article.summary|striptags) }}
  {{ meta('property=og:site_name', 'Cafébabel') }}
  {{ meta('property=og:locale', current_language) }}
  {{ meta('name=twitter:card', 'summary') }}
  {{ meta('name=twitter:image', absolute(article.image_url)) }}
  {{ meta('name=twitter:title', self.meta_title()) }}
  {{ meta('name=twitter:description', article.summary|striptags) }}
  {{ meta('name=twitter:url', request.url) }}
{% endblock %}

{% block body_class %}article-page{% endblock %}

{% block body %}
<article>
    {% if article.has_image %}
    <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
    {% endif %}
    {% block edit_button %}
      {% if current_user.has_role('editor') and article.is_published %}
        <a class=button href={{ lang_url_for('articles.edit', article_id=article.id) }}>Edit this article</a>
      {% endif %}
    {% endblock %}
    <h1>{{ article.title }}</h1>

    {{ macros.article_meta(article) }}

    {% block tag_list %}
    {% if article.tags %}
      <p class=tags-list>
        {% for tag in article.tags -%}
          <a href={{ tag.detail_url }}{% if tag.is_category %} class={{ tag.name|lower }}{% endif %}>{{ tag.name }}</a>
        {%- endfor %}
      </p>
    {% endif %}
    {% endblock %}

    <div class=article-language-selector>
      <ul>
        <li><span>{{ article.language }}</span></li>
          {% if article.is_translation %}
            <li class=original-language><a href="{{ article.original_article.detail_url }}" title="Original language">{{ article.original_article.language }}</a></li>
          {% endif %}
          {% if translations_publisheds %}
            {% for translation in translations_publisheds %}
                <li class=translated-language><a href={{ translation.detail_url }}>{{ translation.language }}</a></li>
            {% endfor %}
          {% endif %}
          {% for lang_code, lang_label in get_languages() %}
            {% if article.language != lang_code and lang_code not in translations_langs %}
              {% if article.is_translation %}
                {% if lang_code != article.original_article.language %}
                  <li class=to-translate-languages><a href="{{ url_for('translations.create', lang=lang_code) }}?original={{ article.original_article.id }}">{{ lang_code }}</a></li>
                {% endif %}
              {% elif article.is_translated_in(lang_code) %}
                <li class=translated-language><a href={{ article.get_translation(lang_code).detail_url }}>{{ lang_code }}</a></li>
              {% else %}
                <li class=to-translate-languages><a href="{{ url_for('translations.create', lang=lang_code) }}?original={{ article.id }}">{{ lang_code }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
      </ul>
    </div>

    {% if article.summary %}
      <div class=summary>{{ article.summary|markdown }}</div>
    {% endif %}

    {{ article.body|markdown|rewrite_img_src }}

  {% if article.is_translation %}
    <p class=translation-details>
      Translated from <a href="{{ article.original_article.detail_url }}">{{ article.original_article.title }}</a>
    </p>
  {% endif %}

  {% if translations_drafts %}
    <p class=translation-details>Review this article in:</p>
    <ul>
      {% for translation in translations_drafts %}
        <li>{{ translation.language }}: <a href={{ translation.detail_url }}>{{ translation.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% block share_nav %}
  <nav class=share>
  Share this:
    <a href="https://twitter.com/share?url={{ request.url|quote_plus }}&text={{ article.title }}&via=cafebabel_eng">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url|quote_plus }}">Facebook</a>
  </nav>
  {% endblock %}

  {{ self.edit_button() }}

</article>
{% endblock %}
