{% extends "base.html" %}
{% import "articles/macros.html" as macros %}
{% from "_meta-macro.html" import meta %}
{% from "_homepage-macro.html" import participation with context %}

{% block meta_title %}{{ article.title }}{% endblock %}
{% block metas %}
  {{ meta('name=description', article.summary|striptags) }}
  {{ meta('name=author', article.authors|join(', ')) }}
{% endblock %}

{% block metas_social %}
  {{ meta('property=article:author', article.authors|join(', ')) }}
  {{ meta('property=og:image', absolute(article.image_url)) }}
  {{ meta('property=og:url', request.url) }}
  {{ meta('property=og:title', self.meta_title()) }}
  {{ meta('property=og:type', 'article') }}
  {{ meta('property=og:description', article.summary|striptags) }}
  {{ meta('property=og:site_name', 'Cafébabel') }}
  {{ meta('property=og:locale', current_language) }}
  {{ meta('name=twitter:card', 'summary') }}
  {{ meta('name=twitter:image', absolute(article.image_url)) }}
  {{ meta('name=twitter:title', self.meta_title()) }}
  {{ meta('name=twitter:description', article.summary|striptags) }}
  {{ meta('name=twitter:url', request.url) }}
{% endblock %}

{% block extra_head %}
  <link rel="alternate" hreflang={{ article.language }} href=https://cafebabel.com{{ article.detail_url }}>
  {% if article.is_translation %}
    <link rel="alternate" hreflang={{ article.original_article.language }} href=https://cafebabel.com{{ article.original_article.detail_url }}>
  {% endif %}
  {% if translations_publisheds %}
    {% for translation in translations_publisheds %}
      <link rel="alternate" hreflang={{ translation.language }} href=https://cafebabel.com{{ translation.detail_url }}>
    {% endfor %}
  {% endif %}
  {% for lang_code, lang_label in get_languages() %}
    {% if article.language != lang_code and lang_code not in translations_langs %}
      {% if article.is_translated_in(lang_code) %}
        <link rel="alternate" hreflang={{ lang_code }} href=https://cafebabel.com{{ article.get_translation(lang_code).detail_url }}>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block body_class %}article-page{% endblock %}

{% block body %}
<article>
    {% if article.has_image %}
    <img src="{{ article.image_url|resize(config.RESIZE_SIZE_ARTICLE_COVER) }}" alt="Image for {{ article.title }}">
    {% endif %}
    {% block edit_button %}
      {% if current_user.has_role('editor') and article.is_published %}
        <a class=button href={{ lang_url_for('articles.edit', article_id=article.id) }}>Edit article</a>
      {% endif %}
    {% endblock %}
    <h1>{{ article.title }}</h1>

    {{ macros.article_meta(article) }}

    {% block tag_list %}
    {% if article.tags %}
      <p class=tags-list>
        {% for tag in article.tags -%}
          <a href={{ tag.detail_url }} class=tag-{{ tag.slug }}>{{ tag.name }}</a>
        {%- endfor %}
      </p>
    {% endif %}
    {% endblock %}

    <div class=article-language-selector>
      <ul>
        {% if article.is_translation %}
          <li><span>{{ article.language }}</span></li>
        {% else %}
          <li><span class=original-language>{{ article.language }}</span></li>
        {% endif %}
          {% if article.is_translation %}
            <li class=original-language><a href="{{ article.original_article.detail_url }}" title="Original language">{{ article.original_article.language }}</a></li>
          {% endif %}
          {% if translations_publisheds %}
            {% for translation in translations_publisheds %}
                <li class=translated-language><a href={{ translation.detail_url }} title="See this article in {{ lang_code }}">{{ translation.language }}</a></li>
            {% endfor %}
          {% endif %}
          {% for lang_code, lang_label in get_languages() %}
            {% if article.language != lang_code and lang_code not in translations_langs %}
              {% if article.is_translation %}
                {% if lang_code != article.original_article.language %}
                  <li class=to-translate-languages><a href="{{ url_for('translations.create', lang=lang_code) }}?original={{ article.original_article.id }}" title="Translate this article in {{ lang_code }}">{{ lang_code }}</a></li>
                {% endif %}
              {% elif article.is_translated_in(lang_code) %}
                <li class=translated-language><a href={{ article.get_translation(lang_code).detail_url }} title="See this article in {{ lang_code }}">{{ lang_code }}</a></li>
              {% else %}
                <li class=to-translate-languages><a href="{{ url_for('translations.create', lang=lang_code) }}?original={{ article.id }}" title="Translate this article in {{ lang_code }}">{{ lang_code }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% if current_user.has_role('editor') %}
          {% if translations_drafts %}
            {% for translation in translations_drafts %}
              <li class=translation-draft><a href={{ translation.detail_url }} title="Translation draft">{{ translation.language }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
      </ul>
    </div>

    {% if article.summary %}
      <div class=summary>{{ article.summary|markdown }}</div>
    {% endif %}

    {{ article.body|markdown|rewrite_img_src }}

  {% if article.is_translation %}
    <p class=translation-details>
      Translated from <a href="{{ article.original_article.detail_url }}">{{ article.original_article.title }}</a>
    </p>
  {% endif %}

  {% block share_nav %}
  <nav class=share>
  <p>Loved this story? Then tell your friends:
    {% set lang = current_language %}
    {% if lang == 'en' %}{% set twitter_nickname = 'cafebabel_eng' %}{% endif %}
    {% if lang == 'fr' %}{% set twitter_nickname = 'cafebabel_fr' %}{% endif %}
    {% if lang == 'de' %}{% set twitter_nickname = 'cafebabel_de' %}{% endif %}
    {% if lang == 'it' %}{% set twitter_nickname = 'cafebabel_it' %}{% endif %}
    {% if lang == 'es' %}{% set twitter_nickname = 'cafebabel_es' %}{% endif %}
    {% if lang == 'pl' %}{% set twitter_nickname = 'cafebabel_pol' %}{% endif %}
    <a href="https://twitter.com/share?url={{ request.url|quote_plus }}&text={{ article.title }}&via={{ twitter_nickname }}">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url|quote_plus }}">Facebook</a>
  </p>
  </nav>
  {% endblock %}

  {{ self.edit_button() }}

  <nav class=article-participate>
    {% if current_language == 'en' %}
      {{ participation('participate', 'Participate', 'Want to pitch an idea to Cafébabel? Now’s your chance!', '/en/article/proposal/new/', 'This way', '/static/img/gif-wave.gif', 'gif participate') }}
    {% elif current_language == 'fr' %}
      {{ participation('participate', 'Participer', 'Tu veux proposer une idée de sujet à Cafébabel ? Fais-toi plaisir', '/fr/article/proposal/new/', 'Par ici', '/static/img/gif-wave.gif', 'gif participer') }}
    {% elif current_language == 'de' %}
      {{ participation('participate', 'Mitmachen', 'Cafébabel einen Artikel vorschlagen?', '/de/article/proposal/new/', 'Hier entlang', '/static/img/gif-wave.gif', 'gif mitmachen') }}
    {% elif current_language == 'es' %}
      {{ participation('participate', 'Participa', '¿Te gustaría proponer una idea? Adelante. ', '/es/article/proposal/new/', 'Por aquí', '/static/img/gif-wave.gif', 'gif participa') }}
    {% elif current_language == 'it' %}
      {{ participation('participate', 'Partecipa', 'Vuoi mandare un\'idea a Cafébabel?  E\' la tua occasione!', '/it/article/proposal/new/', 'Da questa parte', '/static/img/gif-wave.gif', 'gif partecipa') }}
    {% elif current_language == 'pl' %}
      {{ participation('participate', 'Participate', 'Want to pitch an idea to Cafébabel? Now’s your chance!', '/pl/article/proposal/new/', 'This way', '/static/img/gif-wave.gif', 'gif participate') }}
    {% endif %}
  </nav>

</article>
{% endblock %}
