{% extends "base.html" %}
{% import "articles/macros.html" as macros without context %}

{% block meta_title %}{{ article.title }}{% endblock %}
{% block meta_description %}{{ article.summary }}{% endblock %}
{% block meta_image_url %}{{ absolute(article.image_absolute_url) }}{% endblock %}
{% block meta_author %}{{ article.author }}{% endblock %}
{% block meta_type %}article{% endblock %}

{% block body_class %}article-page{% endblock %}

{% block body %}
<article>
    {% if article.has_image %}
    <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
    {% endif %}
    <h1>{{ article.title }}</h1>

    {{ macros.article_meta(article) }}

    <div class=article-language-selector>
      <ul>
        <li><span>{{ article.language }}</span></li>
          {% if article.is_translation %}
            <li class=original-language>Translated from <a href="{{ article.original_article.detail_url }}">{{ article.original_article.language }}</a></li>
          {% endif %}
          {% if translations_publisheds %}
            {% for translation in translations_publisheds %}
                <li class=translated-language><a href={{ translation.detail_url }}>{{ translation.language }}</a></li>
            {% endfor %}
          {% endif %}
          {% for lang_code, lang_label in get_languages() %}
            {% if article.language != lang_code and lang_code not in translations_langs %}
              {% if article.is_translation %}
                {% if lang_code != article.original_article.language %}
                  <li class=to-translate-languages><a href="{{ url_for('translations.create') }}?lang={{ lang_code }}&original={{ article.original_article.id }}">{{ lang_label }}</a></li>
                {% endif %}
                {% elif article.is_translated_in(lang_code) %}
                  <li class=translated-language><a href={{ article.get_translation(lang_code).detail_url }}>{{ lang_label }}</a></li>
                {% else %}
                  <li class=to-translate-languages><a href="{{ url_for('translations.create') }}?lang={{ lang_code }}&original={{ article.id }}">{{ lang_label }}</a></li>
                {% endif %}
             {% endif %}
          {% endfor %}
      </ul>
    </div>

    {% if article.summary %}
    <p class=summary>{{ article.summary }}</p>
    {% endif %}

    {{ article.body|markdown }}

  {% block share_nav %}
  <nav class=share>
    <a href="https://twitter.com/share?url={{ request.url|quote_plus }}&text={{ article.title }}&via=cafebabel_eng">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url|quote_plus }}">Facebook</a>
  </nav>
  {% endblock %}
  {% if current_user.has_role('editor') and article.is_published %}
    <p>
      <a class=button href={{ url_for('articles.edit', article_id=article.id) }}>Edit this article</a>
    </p>
  {% endif %}

  {% if article.is_translation %}
    <p>
      Translated from <a href="{{ article.original_article.detail_url }}">{{ article.original_article.title }}</a> by {{ article.translator }}.
    </p>
  {% endif %}

  {% if translations_drafts %}
    <p>Review this article in:</p>
    <ul>
      {% for translation in translations_drafts %}
        <li>{{ translation.language }}: <a href={{ url_for('translations.detail', id=translation.id) }}>{{ translation.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

</article>
{% endblock %}
