{% extends "base.html" %}
{% import "articles/macros.html" as macros %}
{% from "_extrajs-macros.html" import extra_js %}

{% block extra_head %}
  <link rel=stylesheet href={{ url_for('static', filename='choices/css/choices.min.css') }}>
  <link rel=stylesheet href={{ url_for('static', filename='css/choices.css') }}>
{% endblock %}

{% block extra_js %}
  {{ extra_js(['js/noise.js', 'js/articles-tags.js', 'js/image-preview.js', 'js/textarea-change.js', 'choices/js/choices.min.js', 'js/articles-users.js']) }}
{% endblock %}

{% block body_class %}create-article-page{% endblock %}

{% block body %}
<form method=post action={% block form_action %}{{ url_for('articles.edit', article_id=article.id, lang=current_language) }}{% endblock %} enctype=multipart/form-data>

  {% if article.id %}<input type=hidden name=id value="{{ article.id }}">{% endif %}
  {{ macros.image_upload(article) }}
  <h1 class="edit {% if article.id %}active{% endif %}">
    <label for=title>Title</label>
    <input id=title name=title value="{{ article.title or '' }}" required>
  </h1>
  <div class=article-settings>
    {% if current_user.has_role('editor') %}
    <div class=select>
      <label for=status>
        <select id=status name=status required>
          <optgroup label=Status>
            {% block form_status_options %}
            <option value=draft>Draft</option>
            <option value=published selected>Published</option>
            {% endblock %}
          </optgroup>
        </select>
      </label>
    </div>
    <div class=select-multi>
      <label for=authors>Author(s)
        <select name=authors id=authors multiple>
          {% for author in article.authors %}
            <option value={{ author.id }} selected>{{ author }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    {% endif %}
  </div>
  <div class=textarea>
    <label for=summary>Teaser</label>
    <textarea id=summary name=summary required>{{ article.summary or '' }}</textarea>
  </div>
  <div class=textarea>
    <label for=body>Body</label>
    <textarea id=body name=body required>{{ article.body or '' }}</textarea>
    {% include "articles/markdown-helper.html" %}
  </div>
  {{ macros.tags_fields(article) }}
  <input type=submit value=Save>
</form>

{% block form_extra_actions %}
  {% if current_user.has_role('editor') %}
  <form method=post action={{ url_for('articles.delete', article_id=article.id, lang=current_language) }}>
    <input type=submit value="Delete this article">
  </form>
  {% endif %}
{% endblock %}

{% endblock %}
