{% from "users/macros.html" import default_profile_picture without context %}

{%- macro article_meta(article) -%}
  <p>
    <span>Published on <time pubdate="{{ article.creation_date.date() }}">{{ article.creation_date.date() }}</time></span>
    — by {% if article.author.profile.has_image %}
      <img src={{ article.author.profile.image_url }} alt="Picture of {{ article.author }}">
    {% else %}
      {{ default_profile_picture() }}
    {% endif %}
    {{ article.author }}<br>
    {% if article.category %}
    in category {{ article.category }}<br>
    {% endif %}
    Reading time: {{ article.body|reading_time }} min
  </p>
{%- endmacro %}

{%- macro tags_fields(tags, article=None) -%}
  <div>
    <label for=tag-1>Tags</label>
    <input list=tags name=tag-1 {% if article and article.tags and article.tags[0] %}value={{ article.tags[0].name }}{% endif %}>
    <input list=tags name=tag-2 {% if article and article.tags and article.tags[1] %}value={{ article.tags[1].name }}{% endif %}>
    <input list=tags name=tag-3 {% if article and article.tags and article.tags[2] %}value={{ article.tags[2].name }}{% endif %}>
    <input list=tags name=tag-4 {% if article and article.tags and article.tags[3] %}value={{ article.tags[3].name }}{% endif %}>
    <input list=tags name=tag-5 {% if article and article.tags and article.tags[4] %}value={{ article.tags[4].name }}{% endif %}>
    <datalist id=tags>
      {% for tag in tags['en'] %}
        <option value="{{ tag.name }}">
      {% endfor %}
    </datalist>
  </div>
{%- endmacro %}
