{% from "users/macros.html" import default_profile_picture %}

{% macro article_publication_date(article) %}
  {% if article.publication_date %}
    <span>Published on <time pubdate="{{ article.publication_date.date() }}">{{ article.publication_date.strftime('%B %-d, %Y') }}</time></span>
  {% else %}
    <span>Created on <time pubdate="{{ article.creation_date.date() }}">{{ article.creation_date.strftime('%B %-d, %Y') }}</time></span>
  {% endif %}
{% endmacro %}

{%- macro article_meta(article) -%}
  <p>
    {{ article_publication_date(article) }} | Reading time: {{ article.body|reading_time }} min
  </p>
  <div class=contributor-container>
    <div class=author-container>
      <h4>Words by:</h4>
      {% for author in article.authors %}
          <a href="{{ url_for('users.detail', id=author.pk) }}" class=author-link>
            {% if author.profile.has_image %}
              <img src={{ author.profile.image_url }} alt="Picture of {{ author }}">
            {% else %}
              {{ default_profile_picture() }}
            {% endif %}
            {{ author }}
          </a>
      {% endfor %}
    </div>
    {% if article.is_translation %}
      <div class=translator-container>
        <h4>Translation by:</h4>
          {% for translator in article.translators -%}
              <a href="{{ url_for('users.detail', id=translator.pk) }}" class=translator-link>
                {% if translator.profile.has_image %}
                  <img src={{ translator.profile.image_url }} alt="Picture of {{ translator }}">
                {% else %}
                  {{ default_profile_picture() }}
                {% endif %}
                {{ translator }}
              </a>
          {%- endfor %}
      </div>
    {% endif %}
  </div>
{%- endmacro %}

{%- macro tags_fields(article=None) -%}
  <div class=tags>
    <label for=tag-1>Tags</label>
    <ul class=tags-list>
      {% if article and article.tags %}
        {% for tag in article.tags -%}
          <li class=saved>
            {{ tag.name }}{# Avoid any whitespace between the name and the input.
            #}<input name=tag-{{ loop.index }} list=tags value="{{ tag.name }}" type=hidden>
            <button type=button></button>
          </li>
        {%- endfor %}
      {% endif %}
    </ul>
    <div class=tag-container><input name=tag-new autocomplete=off list=tags-suggestions><button class=add>+</button></div>
    <ul id=tags-suggestions class=inactive></ul>
  </div>
{%- endmacro %}

{%- macro image_upload(object) -%}
  <div class=file>
    {% if object.has_image %}
      <output><img src={{ object.image_url }} alt="Image for {{ object.name }}"></output>
      <div class=checkbox>
        <label for=delete-image>Delete image</label>
        <input type=checkbox name=delete-image id=delete-image value=1>
      </div>
    {% else %}
      <canvas class=noise></canvas>
      <output></output>
    {% endif %}
    <label for=image>Click here to add a cover picture or Drag & drop your pic here <small>File size: 1200x467px, less than 1Mo</small></label>
    <input type=file id=image name=image>
  </div>
{%- endmacro %}

{% macro default_article_picture() %}
  <img src={{ url_for('static', filename='img/article-thumbnail-default.jpg') }} alt="Default thumbnail picture">
{% endmacro %}

{% macro card(article) %}
<article>
  {% if article.has_image %}
    <a href={{ article.detail_url }}><img src={{ article.image_url }} alt="Image for {{ article.title }}"></a>
  {% else %}
    <a href={{ article.detail_url }}>
      {{ default_article_picture() }}
    </a>
  {% endif %}
  <div class=article-detail>
    <h3><a href={{ article.detail_url }}>{{ article.title }}</a></h3>
    <p>
      {{ article_publication_date(article) }}
      — by
      {% for author in article.authors %}
      <a href={{ url_for('users.detail', id=author.pk) }}>{{ author }}</a>
      {% endfor %}
    </p>
    <p class=tags-list>
      {% for tag in article.tags -%}
        <a href={{ url_for('tags.detail', slug=tag.slug) }}{% if tag.is_category %} class={{ tag.name|lower }}{% endif %}>{{ tag.name }}</a>
      {%- endfor %}
    </p>
  </div>
</article>
{% endmacro %}
