<aside id=markdown-helper>
  <button></button>
  Formatting: <pre><b>**bold**</b> | <i>_italic_</i> | ##Subtitle2 | ###Subtitle3</pre><br>
  Link: <pre>[link text](https://www.cafebabel.com)</pre><br>
  Image: <pre>![Alt text](https://www/path/to/img.jpg "Img title")</pre><br>
  Full image: <pre>&lt;p class=full&gt;&lt;img src"https://www/path/to/img.jpg" title="Img title" alt"Alt text"&gt;&lt;/p&gt;</pre><br>
  Video: <pre>&lt;p class=video-wrapper&gt;&lt;iframe...&gt;&lt;/iframe...&gt;&lt;/p&gt;</pre><br>
  Quote: <pre>&gt; Here your quote</pre>
</aside>
