<aside id=markdown-helper>
  <button></button>
  Formatting: <pre><b>**bold**</b> | <i>_italic_</i> | ##Subtitle2 | ###Subtitle3</pre><br>
  Link: <pre>[link text](https://www.cafebabel.com)</pre><br>
  Image: <pre>&lt;figure&gt;![Alt text](https://path/to/img.jpg "Img title")&lt;figcaption&gt;Caption&lt;/figcaption&gt;&lt;/figure&gt;</pre><br>
  Full image: <pre>&lt;figure class=full&gt;![Alt text](https://path/to/img.jpg "Img title")&lt;figcaption&gt;Caption&lt;/figcaption&gt;&lt;/figure&gt;</pre><br>
  Video: <pre>&lt;p class=video-wrapper&gt;&lt;iframe...&gt;&lt;/iframe&gt;&lt;/p&gt;</pre><br>
  Quote: <pre>&gt; Here your quote</pre>
</aside>
