{% extends "base.html" %}
{% from "articles/macros.html" import card %}

{% block meta_title %}Translate articles – Cafébabel{% endblock %}

{% block body_class %}translate-list-page{% endblock %}
{% block body %}
<section>

  <form method=get action=.>
    <h1>
      Translate from
      <div class=select>
        <label for=from>
          <select id=from name=from required>
            {% for language_code, language_label in get_languages() %}
            <option value={{ language_code }}{% if from_language_code == language_code %} selected{% endif %}>{{ language_label }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      to
      <div class=select>
        <label for=to>
          <select id=to name=to required>
            {% for language_code, language_label in get_languages() %}
            <option value={{ language_code }}{% if to_language_code == language_code %} selected{% endif %}>{{ language_label }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
    </h1>
    <input type=submit value=Refresh>
  </form>

  <ul>
  {% for article in articles %}
    {% if not article.is_translated_in(to_language_code) and article.language != to_language_code %}
      <li>
        {{ card(article) }}
        <a class=button href="{{ url_for('translations.create', lang=to_language_code) }}?original={{ article.id }}">Translate into {{ to_language_label }}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

</section>
{% endblock %}
