{% extends "base.html" %}

{% block body_class %}translate-list-page{% endblock %}
{% block body %}
<section>

  <form method=get action=.>
    <h1>
      Articles to translate to
      <div class=select>
        <label for=lang>
          <select id=lang name=lang required>
            {% for lang_code, lang_label in get_languages() %}
              {% if lang_code != current_language %}
              <option value={{ lang_code }}{% if lang_code == language_code %} selected{% endif %}>{{ lang_label }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </label>
      </div>
    </h1>
    <input type=submit value=Refresh>
  </form>

  <ul>
  {% for article in articles %}
    {% if not article.is_translated_in(language_code) %}
      <li>
        <article>
          {% if article.has_image %}
              <img src="{{ article.image_url }}" alt="Image for {{ article.title }}">
          {% endif %}
          <time>Published on {{ article.creation_date.date() }}</time>
          <h2>{{ article.title }}</h2>

            {% if article.is_translation %}
              {% if article.original_article.language != language_code %}
                <a class=button href="{{ url_for('translations.create') }}?lang={{ language_code }}&original={{ article.original_article.id }}">Translate in {{ language_label }}</a>
              {% endif %}
            {% else %}
              <a class=button href="{{ url_for('translations.create') }}?lang={{ language_code }}&original={{ article.id }}">Translate in {{ language_label }}</a>
            {% endif %}

        </article>
      </li>
    {% endif %}
  {% endfor %}
  </ul>

</section>
{% endblock %}
